
<!-- export class Site {
  site_name: string;
  fields: Map<string, string[]>;
}

export class Data {
  user: string;
  sites: Site[];
} -->



<table class="redTable">
    <thead>
      <th>User</th>
      <th>Site Name</th>
      <th>Fields: Most Likely Value</th>
    </thead>
    <tbody *ngFor="let data of allData">
      <tr *ngFor = "let site of data.sites">
        <td>{{data.user}}</td>
        <td>{{site.site_name}}</td>
        <td>
          <div *ngFor = "let field of site.likely_fields.keys()">
            {{field}}: {{site.likely_fields.get(field)}} ({{site.field_percentage.get(field)}}%)
          </div>
        </td>
      </tr>
    </tbody>
  </table>