
<table class="redTable" *ngFor="let data of allData">
  <thead>
    <th (click) = "toggleSites(data)" style = "cursor: pointer; width: 100px;">
      <p *ngIf = "data.show">
        Hide
      </p>
      <p *ngIf = "!data.show">
        Show
      </p>
    </th>
    <th colspan = "2" style = "width: 200px">User #{{data.user}}</th>
    <th style = "width: 400px">Average Percentage: {{data.average_percentage}}%</th>
  </thead>
  <tbody *ngFor = "let site of data.shown_sites">
    <tr> 
      <th>{{site.site_name}} </th>
      <th>Field Tag</th>
      <th>Strongest Match</th>
      <th>Percent Match</th>
    </tr>
    <tr *ngFor = "let field of site.likely_fields.keys()" >
      <td></td>
      <td>{{field}}</td>
      <td>{{site.likely_fields.get(field)}}</td>
      <td>{{site.field_percentage.get(field)}}%</td>
    </tr>
  </tbody>
  <br>
</table>
