<!DOCTYPE html>
<link href="style.css" rel="stylesheet">
<body>
<h1>This is a website that needs an account</h1>
<p>This is the sign up page:</p>
<form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="lname"><br><br>
    <label for="uname">Username:</label>
    <input type="text" id="uname" name="lname"><br><br>
    <label for="pword">Password:</label>
    <input type="text" id="pword" name="lname"><br><br>
    <label for="cpword">Confirm Password:</label>
    <input type="text" id="cpword" name="lname"><br><br>
    <input type="submit" value="Submit">
</form>
<app-root></app-root>
</body>