<head>
    <Title>Popup</Title>
    <link href="https://fonts.googleapis.com/css?family=Jost" rel="stylesheet">
    <style>
        body {
            min-width:225px;
            font-family: 'Jost', sans-serif;
        }
        .text {
            font-weight: bold;
        }
        .blue {
            color: blue;
        }
        .red {
            color: red);
        }
        .yellow {
            color: yellow;
        }
        .green {
            color: green;
        }
    </style>
</head>
<body>
<h3>Color Coding:</h3>

<div><span class="blue text">Blue</span> - Currently in your schedule</div>
<div><span class="red text">Red</span> - Conflicts with one of your classes</div>
<div><span class="yellow text">Yellow</span> - Does not conflict, but is full</div>
<div><span class="green text">Green</span> - Fits in your schedule</div>

<p>
    Each professor's name now links directly to their rate my professor page!
</p>
<p>
    Hover over the name of a red class to see what it conflicts with
</p>
<p id="explicit">
    Please note: That by downloading this extension you allow the right for this extension to read and write page data. Nothing is safe :)
</p>
</body>