<div id= "emojiBox"*ngFor= "let emoji of emojis">
    <div id = "bottonBox" *ngIf= "emoji.category == 'Faces'"> 
        <button [id]="emoji.name" class="emoji" (click)="copyEmoji(emoji.name)">{{ emoji.icon }}</button>
        <!-- <div *ngFor = "emoji.row == 1">
            <button [id]="emoji.name" class="emoji" (click)="copyEmoji(emoji.name)">{{ emoji.icon }}</button>
        </div>
        <div *ngFor = "emoji.row == 2">
            <button [id]="emoji.name" class="emoji" (click)="copyEmoji(emoji.name)">{{ emoji.icon }}</button>
        </div>
        <div *ngFor = "emoji.row == 3">
            <button [id]="emoji.name" class="emoji" (click)="copyEmoji(emoji.name)">{{ emoji.icon }}</button>
        </div> -->
    </div>
    <div *ngIf= "emoji.category == 'Animals'"> 
        <button [id]="emoji.name" class="emoji" (click)="copyEmoji(emoji.name)">{{ emoji.icon }}</button>
    </div>
    <div *ngIf= "emoji.category == 'Farm'"> 
        <button [id]="emoji.name" class="emoji" (click)="copyEmoji(emoji.name)">{{ emoji.icon }}</button>
    </div>
</div>