button.emoji {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
}

.emoji:hover {
    background: #DCDCDC;
}

div.emojiBox{
    overflow: scroll;
}

div.buttonBox{
    display: inline-block;
}

* {
    box-sizing: border-box;
  }

#searchbar{
    display: flex;
    align-items: left;
    justify-content: left; 
    text-align: left;
    margin-bottom: 10px;
}

#searchTextbox{
    padding: 10px;
    font-size: 1 em;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

#searchButton{
    float: left;
    width: 12%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 1em;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.fa fa-search{
    vertical-align: middle
}

#searchButton:hover{
    background: #0b7dda;
}

#searchedEmoji {
    width: 15%;
    vertical-align: middle;
    visibility: hidden;
    margin-left: 10px;
    padding: 10px;
}

#searchedEmoji:hover{
    background: #DCDCDC;
}