<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="popup.component.css">
    <title>UC Davis Emoji's</title>
</head>
<body>
<header>
    UC Davis Emoji's
</header>
<!--<div style="background-image: url('cow.jpg');"  >-->
<p>
    Click on the emoji you want to copy and paste it where ever you want!
</p>
<p>
    <button id="smile" class="emoji" (click)="copyEmoji('smile')">😀</button>
    <button id="wink" class="emoji" (click)="copyEmoji('wink')">😉</button>
    <button id="horse" class="emoji" (click)="copyEmoji('horse')">🐴</button>
</p>
<p>
    <button id="heart" class="emoji" (click)="copyEmoji('heart')">😍</button>
    <button id="bikini" class="emoji" (click)="copyEmoji('bikini')">👙</button>
    <button id="hand" class="emoji" (click)="copyEmoji('hand')">✍</button>
</p>

</body>
</html>
