<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="popup.component.css">
</head>
<body>

<header>
    <!--    <img src="ucdavisLogo.png"; >-->
    <p>
        UC Davis Emoji KeyBoard
    </p>
</header>
<!--<div style="background-image: url('cow.jpg');"  >-->

<p>
    Click on the emoji you want to copy and paste it where ever you want!
</p>
<div id="searchbar">
    <input type="text" id="searchTextbox" placeholder="Search Emoji"><br> <button id="searchButton" (click)="searchEmoji()">Enter</button>
    <button id="searchedEmoji" class="emoji"></button>
<app-emoji></app-emoji>




<!-- <div class="tab">
    <button class="tablinks" (click)="openTab('Farm')">Farm</button>
    <button class="tablinks" (click)="openTab('School')">School</button>
    <button class="tablinks" (click)="openTab('Party')">Party</button>
</div>

<div id="Farm" class="tabcontent">
    <h3>Farm animals</h3>
    <div>
        <button id="smile" class="emoji" (click)="copyEmoji('smile')">😀</button>
        <button id="wink" class="emoji" (click)="copyEmoji('wink')">😉</button>
        <button id="horse" class="emoji" (click)="copyEmoji('horse')">🐴</button>
    </div>
</div>

<div id="School" class="tabcontent">
    <h3>School</h3>
    <div>
        <button id = "horse" class="emoji" (click)="copyEmoji('horse')">🐴</button>
        <button id = "bikini" class="emoji" (click)="copyEmoji('bikini')">👙</button>
        <button id = "hand" class="emoji" (click)="copyEmoji('hand')">✍</button>
        <button id = "coffee" class="emoji" (click)="copyEmoji('coffee')">☕</button>
    </div>
</div>

<div id="Party" class="tabcontent">
    <h3>Party</h3>
    <div>
        <button id = "horse" class="emoji" (click)="copyEmoji('smile')">🐴</button>
        <button id = "bikini" class="emoji" (click)="copyEmoji('smile')">👙</button>
        <button id = "hand" class="emoji" (click)="copyEmoji('smile')">✍</button>
        <button id = "coffee" class="emoji" (click)="copyEmoji('smile')">☕</button>
    </div>
</div> -->




</body>
</html>
