<!DOCTYPE html>
<html>
<link rel="stylesheet" href="popup.component.css">
<body>
<h3>UC Davis Ascii Emoji</h3>

<!--<div style="background-image: url('cow.jpg');"  >-->
<p>
    Click on the emoji you want to copy and paste it where ever you want!
</p>
<p>
    <button class="emoji">&#x1F600;</button>
    <button class="emoji">&#x1F609;</button>
    <button class="emoji">&#x2614;</button>
    <button class="emoji">&#x2603;</button>
    <button class="emoji">&#x2615;</button>
    <button class="emoji">&#129409;</button>
</p>

</body>
</html>
